@import '~antd/dist/antd.css';


.app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 400px;
  align-items: center;
}

.main{
  padding-top: 5%;
  padding-bottom:10%;
  max-width: 800px;
  width: 100%;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}